<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.bookmanagesystem01.mapper.AnnouncementMapper">
    <!-- 新增通知 -->
    <insert id="addAnnouncement" parameterType="org.example.bookmanagesystem01.entity.Announcement">
        INSERT INTO bms01.announcement (title, content, picture, author, publishtime, status)
        VALUES (#{title}, #{content}, #{picture}, #{author}, NOW(), #{status})
    </insert>

    <!-- 删除通知 -->
    <delete id="deleteAnnouncement" parameterType="int">
        DELETE FROM bms01.announcement WHERE id = #{id}
    </delete>

    <!-- 修改通知 -->
    <update id="updateAnnouncement" parameterType="org.example.bookmanagesystem01.entity.Announcement">
        UPDATE bms01.announcement
        SET title = #{title},
            content = #{content},
            picture = #{picture},
            author = #{author},
            publishtime = #{publishtime},
            status = #{status}
        WHERE id = #{id}
    </update>

    <!-- 按状态查询通知 -->
    <select id="getAnnouncementsByStatus" parameterType="int" resultType="org.example.bookmanagesystem01.entity.Announcement">
        SELECT * FROM bms01.announcement WHERE status = #{status}
        ORDER BY status ASC
    </select>

    <!-- 查询所有公告 -->
    <select id="findAll" resultType="org.example.bookmanagesystem01.entity.Announcement">
        SELECT * FROM bms01.announcement
        ORDER BY publishtime DESC
    </select>
</mapper>